@import url(style.css);

.contact {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact > * {
  margin: 1rem;
}

.contact__intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact__form {
  margin-top: 4rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.form > * {
  margin: 0.5rem;
}

.form input {
  width: 500px;
  color: var(--black);
  font-weight: 500;
  padding: 0.5rem;
  outline: none;
}

.form textarea {
  color: var(--black);
  font-weight: 500;
  padding: 0.5rem;
  outline: none;
}

.form__button {
  text-align: center;
}

@media screen and (max-width: 720px) {
  .form input {
    width: 350px;
  }
}
