@import url(style.css);

.footer {
    height: 5vh;
    background-color: var(--black-dark);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__text {
    color: var(--white);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.footer__text:hover {
    color: var(--green-medium);
    transition: color 0.3s ease-in-out;
}