@import url(style.css);

.footer {
    height: 5vh;
    background-color: var(--black-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease-in-out;
}

.footer__text {
    color: var(--white);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.footer__text:hover {
    color: var(--green-medium);
    transition: color 0.3s ease-in-out;
}

/* Dark <> Light */

body.light .footer {
    background-color: var(--white);
    box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.05);
    transition: background-color 0.3s ease-in-out;
}

  
/* Dark <> Light */