@import url(style.css);

.home {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: solid 5px var(--maroon);
  background-image: url(/src/photos/JuanTres.jpg);
  background-size: cover;
  background-position: center;
}

.home__info {
  margin-top: 8vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home__info > * {
  margin: 1rem;
}
