@import url(style.css);

.home {
  margin-top: 4rem;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: solid 15px var(--black-dark);
  background-image: url(https://jdocdev.github.io/portfolio-jdocdev/src/photos/JuanOr.jpg);
  background-size: cover;
  background-position: center;
}

.home__info {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home__info > * {
  margin: 1rem;
}

@media screen and (max-width: 1366px) {
  .home__img {
    height: 250px;
    width: 250px;
  }

  .home__info > * {
    margin: 0.5rem;
  }
}
