@import url(style.css);

.navbar__menu {
  background-color: var(--black-transparent);
  height: 8vh;
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100vw;
  transition: background-color 0.3s ease-in;
}

.navbar__items,
.navbar__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__logo-text {
  transition: color 0.3s ease-in-out;
}

.navbar__logo-text:hover {
  color: var(--green-medium);
  transition: color 0.3s ease-in-out;
}

.navbar__item {
  margin-left: 1rem;
}

/* Botones traducción */
.navbar__item button {
  background-color: transparent;
  border: none;
  color: var(--white);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.3s ease-in-out;
  margin-left: -10px;
}

.navbar__item button:hover {
  cursor: pointer;
  color: var(--green-medium);
  transition: color 0.3s ease-in-out;
}
/* Botones traducción */

.navbar__link {
  position: relative;
}

.navbar__link::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--green-medium);
  transition: width 0.3s ease;
}

.navbar__link:hover::after,
.navbar__link.link--active::after {
  width: 100%;
}

.toggle-theme .label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row; 
  height: 23px;
  width: 49px;
  background-color: var(--white);
  border-radius: 50px;
  padding: 4px;
  position: relative;
}

.toggle-theme .checkbox {
  display: none;
}

.toggle-theme .label i {
  color: var(--black);
}

.toggle-theme .label .bi-circle-fill {
  position: absolute;
  left: 4px;
  font-size: 24px;  
  transition: transform 0.5s ease-in-out;
 }

.toggle-theme .checkbox:checked + .label .bi-circle-fill {
  transform: translateX(26px);
  transition: transform 0.5s ease-in-out;
}

/* Dark <> Light */

body.light .toggle-theme .label {
  background-color: var(--black);
}

body.light .toggle-theme .label i {
  color: var(--white);
}

body.light .navbar__logo-text:hover {
  color: var(--green-medium)
}

body.light .navbar__menu {
  background-color: var(--white-transparent);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05);
  transition: background-color 0.3s ease-in;
}

/* Botones traducción */
body.light .navbar__item button {
  color: var(--dark);
}

body.light .navbar__item button:hover {
  color: var(--green-medium);
}
/* Botones traducción */

/* Dark <> Light */

@media screen and (max-width: 600px) {
  .navbar__menu {
    justify-content: center;
  }

  .navbar__logo-text {
    display: none;
  }

  .navbar__item:nth-child(1) {
    margin-left: 0;
  }
}

@media screen and (max-width: 375px) {
  .navbar__item {
    margin-left: 0.8rem;
  }

  .navbar__link.link {
    font-size: 0.8rem;
  }

  .navbar__item button {
    margin-left: -7px;
  }
}
