@import url(style.css);

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;  
}

.projects__intro {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.projects__content {
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}

.project {
  display: flex;
  flex-basis: 49%;
}

.project > * {
  margin: 1rem;
}

.project__left {
  height: 180px;
  width: 285px;
  border-radius: 5px;
  border: solid 3px var(--maroon-light);
  background-image: url(https://dummyimage.com/600x400/dedede/999999.jpg);
  background-size: cover;
  background-position: center;
}

.project--firefox {
  background-image: url(https://jdocdev.github.io/portfolio-jdocdev/src/img/firefox--monitor.jpg);
}

.project--bookhouse {
  background-image: url(https://jdocdev.github.io/portfolio-jdocdev/src/img/bookhouse.jpg);
}

.project--text-encoder {
  background-image: url(https://jdocdev.github.io/portfolio-jdocdev/src/img/text--encoder.jpg);
}

.project--panaderia-bem {
  background-image: url(https://jdocdev.github.io/portfolio-jdocdev/src/img/panaderia--bem.jpg);
}

.project--christmas-store {
  background-image: url(https://jdocdev.github.io/portfolio-jdocdev/src/img/christmas--store.jpg);
}

.project__right {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.project__right > * {
  margin-bottom: 1rem;
}

@media screen and (max-width: 1366px) {
  .project__left {
    margin-top: 1.5rem;
  }

  .project__right > * {
    margin-bottom: 0.5rem;
  }

  .project {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 720px) {
  .project {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .project > * {
    margin: 0;
    margin-bottom: 1rem;
  }

  .project__left {
    height: 50vw;
    width: 80vw;
  }

  .project__right {
    max-width: 100%;
    align-items: center;
  }

  .project__right > * {
    margin-bottom: 0.5rem;
  }
}


