@import url(style.css);

.social__item {
  margin-bottom: 12px;
}

.social__link {
  width: 36px;
  height: 36px;
  background-color: var(--green-medium);
  color: var(--white);
  text-decoration: none;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__link:hover {
  background-color: var(--purple-medium);
  transition: background-color 0.3s ease-in-out
}

.bi {
  font-size: 1.1rem;
}

/* Redes */

.sidebar {
  position: fixed;
  top: 50%;
  left: 0.5rem;
  transform: translateY(-50%);
  z-index: 9999;
}

/* Redes */

/* Email */

.whatsapp {
  position: fixed;
  top: 97%;
  right: 1rem;
  transform: translateY(-50%);
  z-index: 9999;
}

/* Email */

@media screen and (max-width: 720px) {
  .sidebar {
    top: 97%;
    left: 1rem;
  }

  .social {
    display: flex;
  }
  .social__item {
    margin-right: 0.5rem;
  }

  .experience__title {
    margin-bottom: 1rem;
  }
}
